<div class="container" id="vent-container">
    <div *ngIf="ventList | async; else no_vents">
        <ng-container *ngFor="let vent of ventList | async">
            <span title="{{vent.time | date:'medium'}}">{{vent.timeFromNow}}</span>
            <div>
                {{vent.text}}
            </div>
        </ng-container>
    </div>

<ng-template #no_vents>
    <div class="row">
        <div class="col">
            <p>Nothing posted yet, please add some!</p>
        </div>
    </div>
</ng-template>
</div>