<div>
    <form [formGroup] ="ventForm" (ngSubmit)="onSubmit()">
      <textarea name="text" placeholder="What's On Your Mind?"
        formControlName="text"></textarea>

      <!-- Only show this if the post length is > 300 -->
      <small class="form-text" *ngIf="lengthIsInvalid()">
        300 character limit!
      </small> 

      <div>

        <!-- Disable if invalid post length -->
        <button [disabled]="lengthIsInvalid()">
          <i aria-hidden="true"></i> Share
        </button>
      </div>
    </form>
  </div>
  